.wrap {
    .box {
        width: 100%;
        border-radius: 100px;
        overflow: hidden;
    }

    .content {
        margin-top: 20px;

        .heading {
            padding: 20px;

            h3 {
                font-size: 30px;
            }
        }
    }

    .heading {
        font-size: 30px;
    }
}
